Package: openssl-dbgsym
Source: openssl
Version: 1.1.1e-fips
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian OpenSSL Team <pkg-openssl-devel@lists.alioth.debian.org>
Installed-Size: 746
Depends: openssl (= 1.1.1e-fips)
Section: debug
Priority: optional
Description: debug symbols for openssl
Build-Ids: b3e7cc3bb85b5bce4a8ae20a6c9642c4b431d99f
